<!-- layouts/layout-board.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - PortPilot">포트파일럿</title>

    <link rel="stylesheet" th:href="@{/css/board/boardSidebar.css}">
    <th:block layout:fragment="css"></th:block>
</head>

<body>
<div th:replace="fragments/header::header"></div>

<div class="d-flex">
    <div th:replace="fragments/boardSidebar::sidebar"></div>
    <main class="flex-grow-1 p-4" layout:fragment="content"></main>
</div>

<div th:replace="fragments/footer::footer"></div>

<th:block layout:fragment="script"></th:block>
</body>
</html>
